/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Layout */
body {
    background-color: #000000;
    color: #ffffff;
}

header {
    /*background-image: linear-gradient(bottom,#a68535,#dac53e);*/
    color: white;
    width: auto;
  height: 100px;
  background-image: linear-gradient(to top, #a68535, #dac53e, #dac53e);
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: 8px solid transparent;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #dac53e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #a68535;
}

.content{
    display: flex;
    gap: 20px;
    margin: 20px;
    width: calc(100% - 40px);
    align-items: stretch;
}

.main-content {
    flex: 8;
    min-width: 300px;
    background: rgb(0, 0, 0);
    
    flex-direction: column;
    border-radius: 10px;
    

}

.main-content-top{
    height: 55%;
    border-radius: 10px;
    border: 5px solid transparent;
    padding: 20px;
    display: flex;
flex-direction: column;
justify-content: center;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;
}

.main-content-bottom{
    height: 45%;
    border-radius: 10px;
    border: 5px solid transparent;
    padding: 20px;
    display: flex;
flex-direction: column;
justify-content: center;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;
}

.astrophage{

    display: flex;
    gap: 20px;
    margin: 20px;
    width: calc(100% - 40px);
    align-items: center;
    flex-wrap: wrap;
}

.astrophage-content {
    flex:auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: row;   /* put text & circle side-by-side */
    align-items: center;
    min-width: 300px;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;

}

.astrophage-text {
    flex: 1;
    width: 85%;
}

.astrophage-circle {
    width:15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;


    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
}
.profile-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
}

.astrophage-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;    /* makes the image circular */
    object-fit: cover;     /* fills the circle nicely */
    display: block;
    
}

.image-content {
    flex: 2;
    min-width: 90px;
    background: rgb(0, 0, 0);
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;
}

.image-content img {
    width: 100%;
    aspect-ratio: 651 / 1000; /* preserves exact original proportions */
    object-fit: contain; 
    display: block;
}

.card-area {
    /*margin-top: 20px;*/
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #000000;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 5px solid transparent;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;
  }
  
.card h3 {
    margin-bottom: 10px;
  }

h3{
    font-size: x-large;
}
p{
    font-size:larger;
}

.title {
    background: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, #a68535, #dac53e, #dac53e) 1;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #212121;
    margin-top: 20px;
}

@font-face {
    font-family: 'CindieMono'; 
    src: url('CindieMono-D.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal;
}